.alert-box {
    margin-top: 15px;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
  }
  .alert-box p{
    margin: 0;
  }
  .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #3c763d;
  }

  .alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #721c24;
  }